.breadcrum {
    display: flex;
    justify-content: center;
    gap: 8px;
    color: rgb(168, 163, 157);
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}